.joinWaitlist__textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 1.2em;
}

.joinWaitlist__textContentHeader {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
}

.joinWaitlist__textContent p {
  min-width: 400px;
  width: 91%;
  text-align: center;
  color: #70737c;
  margin: 5px;
}

.joinWaitlist__form {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
}

.joinWaitlist__input {
  margin: 15px 0px;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid rgb(97, 96, 96);
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 600;
  color: #333333;
  border-radius: 10px;
}

.joinWaitlist__submitBtn {
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  margin-top: 18px;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #4446bf;
  color: #4446bf;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 20px;
  width: 170px;
  padding-bottom: 35px;
  margin-bottom: 10px;
}

.joinWaitlist__submitBtn:hover {
  color: white;
  background: #4446bf;
}
.joinWaitlist__submitBtn:active {
  letter-spacing: 2px;
}
.onclic {
  width: 40px;
  border-color: #bbb;
  /* border-width: 3px; */
  border-left-color: #4446bf;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #4446bf;
  background: white;
}
.validate {
  font-size: 13px;
  color: white;
  background: #4446bf;
}
.validate:after {
  font-family: "FontAwesome";
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.joinWaitlist__error {
  color: red;
  font-size: 0.75rem;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  bottom: 10px;
  margin-bottom: -10px;
}

@media only screen and (max-width: 1300px) {
  .joinWaitlist__submitBtn {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    background-color: #f5f5f5;
  }

  .joinWaitlist__container {
    padding: 0;
  }
  .joinWaitlist__textContent {
    padding: 0 10px;
  }

  .joinWaitlist__textContentHeader {
    font-size: 2.5rem;
  }

  .joinWaitlist__form {
    padding: 20px 50px;
    align-items: center;
  }
  .joinWaitlist__input {
    margin: 20px 0;
    width: 90%;
    max-width: 500px;
    border: 1px solid rgb(97, 96, 96);
  }

  .joinWaitlist__submitBtn {
    margin-top: 20px;
  }

  .joinWaitlist__textContent p {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .joinWaitlist__form {
    padding: 30px 0;
  }
  .joinWaitlist__input {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .joinWaitlist__textContentHeader {
    font-size: 1.9rem;
    width: 100%;
  }

  .joinWaitlist__textContent p {
    min-width: 100px;
    width: 100%;
    margin: 15px 0;
    font-size: 1.2rem;
  }

  .joinWaitlist__input {
    margin: 20px 0;
    font-size: 1.3rem;
    padding: 15px 20px;
    border: none;
    border: 1px solid rgb(97, 96, 96);
  }

  .joinWaitlist__submitBtn {
    font-size: 1.5rem;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    padding-bottom: 40px;
  }
}
